.grid-container {
    display: grid;
    grid-template-columns: 2fr 6fr 1.5fr;
    grid-template-rows: 1fr 5fr .5fr;
    gap: 2rem;
}

.grid-container div { 
    background-color: rgb(37, 43, 72); 
    border-radius: 25px; 
}

.header { grid-area: 1 / 1 / 2 / 4; }
.nav { grid-area: 2 / 1 / 3 / 2; }
.main { grid-area: 2 / 2 / 3 / 3; }
.sidebar { grid-area: 2 / 3 / 3 / 4; }
.footer { grid-area: 3 / 1 / 4 / 4; }

body {
    background-color: rgb(68, 80, 105);
    color: rgb(247, 233, 135);
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 20px 50px; 
}


.header { 
    text-align: center;  
}

.nav h3 {
    text-align: left;
    padding: 10px 10px 5px 8px;
}

.nav ul {
    list-style-type: none; 
    padding: 10px; 
}

.nav li {
    padding: 10px 30px 90px 5px; 
}

.nav button { 
    padding: 15px; 
    background-color: rgb(91, 154, 139);
    color:rgb(37, 43, 72); 
    font-family: "Lucida Console", "Courier New", monospace;
    transition-duration: 0.4s;
    cursor: pointer;
}

.nav button:hover {
    background-color: rgb(55, 92, 83);
}

.main { 
    padding: 50px 50px;
}

.main div { 
    padding-left: 10px; 
}
.sidebar { 
    text-align: center;
    padding-top: 10px;
}

.footer {
    text-align: center; 
    letter-spacing: 3px; 
    font-size: x-small;
    padding-top: 10px; 
}