.grid-container div { 
    width: 700px;
    margin: 10px 250px; 
    padding: 10px 0px 10px 15px;
    border-radius: 10px; 
    color: #1e1a18;
}

body  {
    background-color: #cccccc;
    background-image: linear-gradient(to bottom right, #FFFFC1, #FFD2A5, #6E7582, #09015F);
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}


.main div {
    width: 700px;
    margin:10px -14px; 
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.header { 
    background-color: rgb(242, 236, 190, 0.6);
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav {  
    background-color: rgb(242, 236, 190, 0.6);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav li { 
    padding: 5px;
}

.nav button {
  background-color: #E2C799;
  border: none;
  color: black;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  border-color: #C08261;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav button:hover {
    background-color: #3b3473;
    color: #cccccc;
}

.p1 { 
    background-color: rgb(242, 236, 190, 0.6);
}

.p2 { 
    background-color: rgb(242, 236, 190, 0.6);
}

.p3 { 
    background-color: rgb(242, 236, 190, 0.6);
}

.sidebar { 
    background-color: rgb(242, 236, 190, 0.6);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer { 
    background-color: rgb(242, 236, 190, 0.6);
    text-align: center; 
    font-size: small; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}